<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <h1>Enter the place name to get geocoding results</h1>
    <form method="get" action="/maps/longlat/results">
      <label>Place name:</label>
      <input id="address" type="text" name="address" placeholder="Enter the address...">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
