<!DOCTYPE html>
<html>
  <head>
    <title>Navigation Instructions</title>
    <style>
      input[type=text] {
        width: 25%;
      }
      #mapContainer {
        width: 50%;
        float: left;
      }
      #map {
        height: 400px;
        width: 100%;
      }
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        width: 100%;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        height: 100%;
        float: left;
        width: 390px;
        overflow: auto;
      }
    </style>
    <script>

    var map;
    var directionsDisplay;
    var directionsService;

    function initMap() {
      var mode = document.getElementById('travelModeField').innerHTML;
          mode = mode.toUpperCase();
      var orig = document.getElementById('orig').innerHTML;
      var dest = document.getElementById('dest').innerHTML;

      calculateAndRenderDirections(orig, dest, mode);
    }

    function calculateAndRenderDirections(origin, destination, mode) {
      directionsService = new google.maps.DirectionsService();
      directionsDisplay = new google.maps.DirectionsRenderer();
      directionsDisplay.setPanel(document.getElementById('right-panel'));

      var request = { origin: origin,
                      destination: destination,
                      travelMode: mode
                    }
      directionsService.route(request, function (result, status) {
        if (status == 'OK') {
          map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4
          });
          directionsDisplay.setMap(map);
          directionsDisplay.setDirections(result);
        }
        else {
          document.getElementById('travelModeField').innerHTML = "This route does not exist.";
        }
      })
    }
    </script>
  </head>
  <body>
    <h1>Enter the origin and destination points to get navigation instructions</h1>
    <form method="get" action="/maps/navigation">
      <label>Origin name:</label>
      <input id="origin" type="text" name="origin" placeholder="Enter the origin address...">
      <br><br>
      <label>Destination name:</label>
      <input id="destination" type="text" name="destination" placeholder="Enter the destination address...">
      <br><br>
      <select id="travelModeSelect" name="mode">
        <option selected value="Driving">Car</option>
        <option value="Walking">Walking</option>
        <option value="Bicycling">Bicycle</option>
        <option value="Transit">Transit</option>
      </select>
      <input type="submit" name="submitForm" value="Submit">
    </form>

    {% if origin is defined and destination is defined and mode is defined %}
      <h1><strong>Mode: </strong><span id="travelModeField">{{mode}}</span></h1>
      <h2><strong>Origin: </strong><span id="orig">{{origin}}</span></h2>
      <h2><strong>Destination: </strong><span id="dest">{{destination}}</span></h2>
      <br><br>
      <div id="mapContainer">
        <div id="map"></div>
      </div>
      <div id="right-panel"></div>

      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk0vApjUjq1RfkFxr3_p85VdGU3b6u7QM&callback=initMap">
      </script>
    {% endif %}
  </body>
</html>
