<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>

    <h1>Hello. From here you can access all the services</h1>
    <p>Wadup <a href="/maps">man</a></p>

  </body>
</html>
