<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>

    <h1>Hello. From here you can access all the services</h1>
    <ul>
      <li>Phase 1: <a href="/maps/longlat"><strong>Geocoding</strong></a> converting real address to geographical coordinates.</li>
      <li>Phase 2: <a href="/maps/distance"><strong>Distance measure</strong></a> calculating distance between two points.</li>
      <li>Phase 3: <a href="/maps/navigation"><strong>Navigation instructions</strong></a> showing directions between two locations.</li>
      <li>Phase 4: <a href="/maps/locations"><strong>Locations database</strong></a> makes it possible to put information to remote database.</li>
      <li>Phase 5: <a href="/maps/images"><strong>Images database</strong></a> makes it possible to put pictures to remote database.</li>
    </ul>
  </body>
</html>
